body{
    background-color:#ff6260;
}

#div-1{
    max-width: 70%;
    background-color: #FF6262;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.card-header{
    background-color:  #ff6260;
    color: white;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.card-body p{
   margin-top: auto;  
   font-size: 20px; 
}
.card-body input{
    width: 80%;
    color: black;
    border:2px solid black;
    border-radius: 4px;
  
}
.card-body input:hover{
    background-image: linear-gradient(90deg, rgb(181, 239, 255),rgb(139, 209, 250));
}
.card-body button {
    padding:2px 8px 2px;
}

#div-2{
    max-width: 70%;
    background-color: #ff6260;
    margin: 5px auto;
}
#result{
    font-size: 20px;
    font-weight: bold;
    background-color: #ff6240;
}
.card-body2 p{
    font-size: 18px;
    font-weight: 500;
    font-weight: bolder;
    color: #fffafaf3;
}

#reload{
    padding:2px 8px 2px;
}


.footer{
    width: 100%;
    padding: 20px;
   margin: 0 auto 10px  auto;
   border:1px solid gray;
   border-radius: 3px;
    background-color: rgb(179, 179, 179);
}
.social_img a img{
    width: 40px;
    height: 40px;
    margin: 10px 7px;
    display: inline-block;
	
}
.social_img a img:hover{
    transition: ease-in-out .2s;
    box-shadow: 1px 1px 7px 7px #383535;
	border-radius: 50%;
}
.footer_text{
    margin-top: 6px;
}
.footer_text img{
	width: 30px;
	height: 30px;
}
.footer_text h5 span{
    color: rgb(219, 29, 29);
}
.footer_text h6{
    font-size: 15px;
}

@media screen and (max-width: 992px){
    .card{
        margin-top: 15px;
    }
    .social_img a img{
       margin: 5px 2px;
}
}
